* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
  color: #111;
}

/* HERO */
.hero {
  position: relative;
  height: 320px;
  background: url("hero.PNG") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.topbar,
.hero-content {
  position: relative;
  z-index: 2;
}

.logo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: white;
  padding: 4px;
}

/* FORM */
.form-container {
  max-width: 500px;
  margin: -40px auto 0;
  background: white;
  padding: 25px;
  border-radius: 20px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.hidden {
  display: none;
}

.modal-card {
  background: white;
  width: 90%;
  max-width: 380px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

/* CHECKMARK */
.checkmark-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.checkmark-circle {
  width: 70px;
  height: 70px;
  background: #25D366;
  border-radius: 50%;
  position: relative;
  animation: scaleIn 0.4s ease forwards;
}

.checkmark {
  position: absolute;
  left: 22px;
  top: 18px;
  width: 20px;
  height: 35px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(45deg) scale(0);
  animation: drawCheck 0.4s 0.3s ease forwards;
}

@keyframes scaleIn {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes drawCheck {
  to { transform: rotate(45deg) scale(1); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* BUTTONS */
.whatsapp-btn {
  display: block;
  background: #25D366;
  color: white;
  padding: 14px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 15px;
}

.modal-secondary-btn {
  background: #f54a0a;
  color: white;
  padding: 14px;
  border: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

/* TEXT */
.note-text {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}